@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//.container-flex img{
 //   width: 100%;
 //   background-size: cover;
 //   background-repeat: no-repeat ;
    

//}
 .navbar .row .col a{
   padding: 0 69px;
   top: 10px;
   color:#324161;
   font-weight: bold;

  
}
//.container-flex{
 //   display: flex;
//}

/*.container-flex a{
    font-size: 34px;
    position: absolute;
    border-radius: 33px;
    border: solid #042341;
    width: 280px;
    height: 80px;
    justify-content: center;
    margin: auto 0;
    background: #042341;
    

    
}
.container-flex .btn{
    
    color: white;
    text-align: center;
    position: absolute;
    top: 380px;
    left: 75px;
    
}*/
.row .col {
    display: flex;
}
.vertical-line{
    border-left: 2px solid black;
    display:inline-flex;
    height: 47px;
    margin: -13px 9px;
    position: absolute;
    opacity: 100%;
    
   
}
.navbar{
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 3px 24px;
    position: sticky;
    top:0;
    width: 100%;
    background-color: #fab91a;
    z-index: 1;
    

    
    
}

h5{
    font-weight: bold;
    font-size: 24px;
    color:#324161; 
    border-spacing: 11px;
    margin-top: 6px;
    
}
@media screen  and (max-width: 1250px){
    .vertical-line{
        display: none;
    } 
    //.content{
    //    display:flex;
     //   height: 100vh;
   // }
    //.text{
     //   position:relative;
      //  bottom:56px;
    //}
    //img{
    //    max-width: 100%;
    //    display: block;
   // } 
    .navbar .row .col{
        text-align: center;
        padding: 14px;

    }
    h1{
        font-size: 27px;
        position: relative;

    }
    .faire{
        position: relative;
    bottom: 70px;
    right: 34px;
    }
    .creez{
        width: 100%;
    }
    button:focus{
        border: none;
        box-shadow: none;
    }
    
   // .container-flex{
       // display: block;
   // }
    //.content{
        //display: block;
    //}
   // h1{
     //   font-size: larger;
    //margin-left: -111px;
   // }
    
}
@media screen and (min-width:320px) and (max-width:342px) {
    .faire{
        position: relative;
    bottom: 70px;
    right: 34px;
    } 
    .creez{
        width: 100%;
    }
}
@media screen  and (min-width: 261px) and (max-width: 768px){
    .navbar-nav{
        display: table-caption;
    }
}