html{
    width: 100%;
    height:100%;
}

button{
    background-color: #e8d200;
    border: none;
    color: white;
    font-weight: bold;
    align-self: auto;
}
.flex{
background-color: blue;
color: white;
justify-content: center;
bottom: 20px;
display: block;
font-size: medium;

}

hr{
    background: green !important;
    background-color: green;
    height: 60px;
    width: 100%;
  }
form{
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}
.form-container{
    padding: 30px;
    border-radius: 20px;
    position: relative;
    bottom: 60px;
    box-shadow: 0px 0px 12px 0px;
}
body{
    padding-top: 25vh;
    height: max-content;
    background:dimgray;
    

}
h4{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
