<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<app-header  *ngIf="data.show" ></app-header>
<app-aladin [data]="data" *ngIf="data.aladin"></app-aladin>

<div class="container"  *ngIf="data.show" style="margin-top: 40px;">
  <div class="row">
    
      <div class="col-6 image">
        <img [src]="data.url"  class="zoom" (click)="go()">
      </div>
          
       <div class="col-6">
        <h1  class="title-text">{{data.name}} </h1>
         <p class="prix"> <del ><strong style="color: red;">{{data.price}} fcfa</strong></del>
             <span style="margin:6px">{{data.item.description.promo}} fcfa</span></p>

         <div class="impression">
           <h6>type d'inpression</h6>
           <select name="name" id="name" class="form-control" (change)="onchange($event)">
             <option value="choisir un type d'impression">choisir un type d'impression</option>
             <option [value]="item" *ngFor="let item of typimpr">{{item}}</option>
            
           </select>
         </div>
            
             <!--quantité et taille-->

             <div class="card" style="margin-top: 13px;">
              <div class="card-header">
                  <a role="button" data-toggle="collapse" data-target="#quantite" aria-expanded="true" aria-controls="collapseOne">
                  Quantité et taille
                  </a>
              </div>
          
              <div id="quantite" class="collapse show" aria-labelledby="heading" data-parent="#accordion1">
                <div class="card-body" >
                  <div class="inpute" *ngIf="data.size.s1">
                    <label for="">M</label>
                    <div class="inputed m">
                      <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)="QtminusM($event)"></i></a>
                      <span>{{QtM}}</span>
                      <input type="number" name="qtm" id="" hidden [(ngModel)]="QtM">
                      <a class="plus" (click)="QtplusM($event)"  role="button"><i class="fad fa-plus-circle fa-x"  ></i></a>
                    </div>
                  </div>
                  <hr>
                  <div class="inpute" *ngIf="data.size.s2">
                    <label for="">L</label>
                    <div class="inputed s">
                      <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusS($event)'></i></a>
                      <span>{{QtS}}</span>
                      <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x" (click)='QtplusS($event)' ></i></a>
                    </div>
                  </div>
                  <hr>
                  <div class="inpute" *ngIf="data.size.s3">
                    <label for="">S</label>
                    <div class="inputed l">
                      <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusL($event)'></i></a>
                      <span> {{QtL}}</span>
                      <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x" (click)='QtplusL($event)'></i></a>
                    </div>
                  </div>
                  <hr>
                  <div class="inpute " *ngIf="data.size.s4">
                    <label for="">XL</label>
                    <div class="inputed xl">
                      <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXL($event)'></i></a>
                      <span>{{QtXL}}</span>
                      <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXL($event)'></i></a>
                    </div>
                  </div>
                  <hr>
                  <div class="inpute "  *ngIf="data.size.s5">
                    <label for="">XXL</label>
                    <div class="inputed xxl">
                      <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXXL($event)'></i></a>
                      <span>{{QtXXL}}</span>
                      <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXXL($event)'></i></a>
                    </div>
                  </div>
                  <hr>
                  <div class="inpute"  *ngIf="data.size.s6">
                    <label for="">XXXL</label>
                    <div class="inputed xxxl">
                      <a class="minus" role="button"><i class="fad fa-minus-circle  fa-x " (click)='QtminusXXXL($event)'></i></a>
                      <span>{{QtXXXL}}</span>
                      <a class="plus"  role="button"><i class="fad fa-plus-circle fa-x"  (click)='QtplusXXXL($event)'></i></a>
                    </div>
                  </div>
                </div>
              
    
          </div>
          
                </div>
          <button class="btn-success" type="submit" style="float:left;" (click)="go()">Personnaliser</button>
          <button class=" btn btn-primary" type="submit" style="float: left;" (click)="reload(Changevalue)" style="background-color: royalblue;">Retour</button>
        </div>
         
  </div>

  </div>






