img{
  width: 10%;
}

input:focus{
  box-shadow: none;
  border:solid 2px #fab91a;
}
input{
  border: solid 1px #324161;
}
select:focus{
  box-shadow: none;
  border:solid 2px #fab91a;
}
select{
  border: solid 1px #324161;
}
.r{
  margin: 6px;
}
.text-muted{
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.espace{
  margin-bottom: 5%;
}


