/*
:root{

    --bleu:#324161;
    --jaune:#fab91a;
  
  }
  
  
  .title{
    text-align: center;
    color: #324161;
  }
  
  .title span{
    font-size: 60px;
    font-weight: bold;
  }
  
  
  
  .container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  *{
    // font-family: '';
  box-sizing: border-box;
  }
  section{
  display: block;
  }
  .section-heading{
  
    display: inherit;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  .section-heading .section-title{
    color: #fff;
    background-color: #fab91a;
    font-size: 40px;
    font-weight: bold;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .col-md-3{
    position: relative;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .card-product-grid {
    margin-bottom: 20px;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
  }
  
  .card .img-wrap {
    overflow: hidden;
  }
  
  .card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
  }
  
  .img-wrap {
    text-align: center;
    display: block;
  }
  
  a {
    color: #3167eb;
    text-decoration: none;
    background-color: transparent;
  }
  
  .img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  img {
    vertical-align: middle;
    border-style: none;
  }
  
  .heading{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .heading .title{
    color:#324161;
    font-size: 40px;
    font-weight: bold;
  }
  
  // scroll partie
  .col-2{
    width: 20%;
  }
  .col-d{
    // width: 20%;
    text-align: center;
    // position: relative;
  }
  
  // .col-md-2{
  //   position: relative;
  //   width: 20%;
  //   padding-right: 10px;
  //   padding-left: 10px;
  //   margin-top: 10px;
  // }
  
  // faq
  
  
  
  .col-faq-1{
  
    width: 100%;
    padding: 20%;
    color: #ffffff;
    border: 10px solid #324161;
    margin-right: 2%;
  }
  
  .col-faq{
  
    width: 48%;
    padding: 10%;
    color: #ffffff;
    border: 10px solid #324161;
    margin-left: 2%;
  }
  
  .text{
   background: #324161;
   color: #fff;
   font-style: 100%;
   font-weight: bold;
   text-align: center;
   padding-bottom: 10px;
  }
  
  .faq{
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  // input{
  //   display: none;
  // }
  
  .question{
    display: inline-block;
    color: #324161;
    font-weight: bold;
  }
  
  // .question::after{
  //   content: '\2795';
  // }
  
  // .content{
  //   background: #12f;
  //   height: 0;
  //   overflow: hidden;
  //   transition: .5s;
  // }
  
  // #faq-1:checked ~ .content{
  //   height: 1OOpx;
  // }
  
  // .faq-a .faq .question p{
  //   color:#161;
  //   display:inline-block
  // }
  
  // .faq .question p:before {
  //   content: url(../svg/plus-blue.svg);
  //   width: 20px;
  //   height: 20px;
  //   display: inline-block;
  //   vertical-align: bottom;
  //   padding-right: 5px;
  // }
  
  // qui sommes nous
  
  .grid-item{
    text-align: center;
    position: relative;
    margin: 0px 0px 10px;
    padding-left: 20px;
  }
  
  .title-3{
    text-align: center;
    font-size: 1rem;
    line-height: 2.2rem;
    color: #324161;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
  }
  
  .img-qsn{
    border: 2px solid #324161;
  }
  
  .img-footer{
    margin-bottom: 30px;
  }
  @media screen and (max-width:800px) and (max-height:1280px) {
    .row .card-deck .col-2{
        display: inline-table;
    }
} 
*/
.container{
  width: 100%;
}