/*
:root{

  --bleu:#324161;
  --jaune:#fab91a;

}


.title{
  text-align: center;
  color: #324161;
}

.title span{
  font-size: 60px;
  font-weight: bold;
}
.btn-primary {
  color: white;
  border-color: transparent;
  box-shadow: none;

}

.btn-primary:hover{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.btn:focus{
  background-color:none;
  border-color: transparent;
  box-shadow: none;
}
.mot{
  color: white;
    font-family: Poppins;
    /* justify-content: flex-end; 
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
    /* white-space: revert; 
    line-height: 19px;
    //word-break: break-all;
}
.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

*{
  // font-family: '';
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
section{
display: block;
}
.section-heading{

  display: inherit;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.section-heading .section-title{
  color: #fff;
  background-color: #fab91a;
  font-size: 40px;
  font-weight: bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col-md-3{
  position: relative;
  width: 25%;
  padding-right: 10px;
  padding-left: 10px;
}

.card-product-grid {
  margin-bottom: 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.37rem;
}

.card .img-wrap {
  overflow: hidden;
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px;
}

.img-wrap {
  text-align: center;
  display: block;
}

a {
  color: #3167eb;
  text-decoration: none;
  background-color: transparent;
}

.img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

img {
  vertical-align: middle;
  border-style: none;
}

.heading{
  margin-top: 50px;
  margin-bottom: 30px;
}

.heading .title{
  color:#324161;
  font-size: 40px;
  font-weight: bold;
}

// scroll partie
.col-2{
width: 20%;
 // padding: 10px;
}
.col-d{
  // width: 20%;
  text-align: center;
  border: none;
  // position: relative;
}

// .col-md-2{
//   position: relative;
//   width: 20%;
//   padding-right: 10px;
//   padding-left: 10px;
//   margin-top: 10px;
// }

// faq



.col-faq-1{

  width: 100%;
  padding: 20%;
  color: #ffffff;
  border: 10px solid #324161;
  margin-right: 2%;
}

.col-faq{

  width: 48%;
  padding: 10%;
  color: #ffffff;
  border: 10px solid #324161;
  margin-left: 2%;
}

.text{
 background: #324161;
 color: #fff;
 font-style: 100%;
 font-weight: bold;
 text-align: center;
 padding-bottom: 10px;
}

.faq{
  background-color: #efefef;
  padding: 15px;
  margin-bottom: 10px;
}

// input{
//   display: none;
// }

.question{
  display: inline-block;
  color: #324161;
  font-weight: bold;
}

// .question::after{
//   content: '\2795';
// }

// .content{
//   background: #12f;
//   height: 0;
//   overflow: hidden;
//   transition: .5s;
// }

// #faq-1:checked ~ .content{
//   height: 1OOpx;
// }

// .faq-a .faq .question p{
//   color:#161;
//   display:inline-block
// }

// .faq .question p:before {
//   content: url(../svg/plus-blue.svg);
//   width: 20px;
//   height: 20px;
//   display: inline-block;
//   vertical-align: bottom;
//   padding-right: 5px;
// }

// qui sommes nous

.grid-item{
  text-align: center;
  position: relative;
  margin: 0px 0px 10px;
  padding-left: 20px;
}

.title-3{
  text-align: center;
  font-size: 1rem;
  line-height: 2.2rem;
  color: #324161;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

.img-qsn{
  border: 2px solid #324161;
}

.img-footer{
  margin-bottom: 30px;
}
//qrt css

@media screen and (max-width:1250px) {
  .col-d{
    width: 100%;
    padding: 12px;
  }
  .col-md-3{
    width:100%;
  }
}
*/

.container{
  max-width: 1184px;
  font-family: 'poppins',helvetica,sans-serif;
}

.title{
  background-image: url("/assets/image/n.jpg");
  background-position: 50% 60%;
  background-repeat: repeat-x;
}
.bar{
  text-align: center;

}

.bar p{
  display: inline-block;
  background: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 0 2rem;
  margin: 0;
}

.products{
  flex-direction: row;
  flex-wrap: wrap;
}

.top_produit .products{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product{
  max-width: 28.5rem;
}

.top_produit .product{
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

a{
  color: #000000;
  text-decoration: none;
}

.top_produit .product a{
  display: inline-block;
}

.image_product{
  display: block;
  max-width: 100%;
  height: auto;
  width: 250px;
}

.text{
  margin-top: 10px;
}


.top_produit .product .nom{
  font-size: 16px;
  font-weight: bold;
}
p{
  margin: 0;
}

.top_produit .product{
  font-size: 1.4rem;
}

.top_produit .product .descris .price{
  color:#FF4040;
  font-weight: bold;
  font-style: 16px;
}

.product p{
  color: #000000;
  font-family: poppins,sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  letter-spacing: 0em;
  line-height: 1;
  margin: 0;
}

.axe{
  margin-top: 15px;
}

.top_produit .product .noms{
  font-size: 16px;
  font-weight: 600;
}

.product .noms{
  margin-bottom: 15px;
}

.image_products{
  display: block;
  max-width: 100%;
  height: auto;
  width: 200px;
}


.contact{

  background: #d4d4d4A1;
  max-width: 110rem;
  min-height: 169px;
  height: auto;
  align-self: end;
  justify-self: center;
  position: relative;
  display: grid;
}

.text_contact{
  width: 75%;
  align-self: center;
  justify-self: start;
  margin-left: 15%;
  height: auto;
  position: relative;
  display: flex;
}

.h2{
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-align: left;
  font-family: roboto-thin,roboto,sans-serif;
  letter-spacing: 0em;
  line-height: 1.3em;
  font-weight: 30px;
  font-weight: 100;
  text-decoration: none;
}

.b_cont{
  background: #131946;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 2%;
}

.lun{
  text-align: center;
  font-size: 16px;
}

.profession{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: auto;
  min-height: 0px;
  align-self: stretch;
  justify-self: stretch;
  position: relative;
  grid-area: 4/1/5/2;
}

.fv{
  background-color: #131946;
  color: #ffffff;
}

.vf{
  width: 100%;
  height: 100%;
}

.im{
  height: 100%;
  width: 100%;
}
.bloc{
  position: relative;
  box-sizing: border-box;
  column-gap: 40px;
  display: grid;
  grid-template-rows: minmax(auto,max-content);
  grid-template-columns: 0.5fr 1fr;
}

.image{
  height: 220px;
  min-width: 0px;
  width: 220px;
  align-self: center;
  justify-self: center;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 20%;
  grid-area: 1/1/2/2;
}

.profil{
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 50%;

}

.text_profils{
  height: max-content;
  width: 59.99971%;
  align-self: center;
  justify-self: start;
  position: relative;
  margin-left: 0%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  grid-area: 1/2/2/3;
}

.tp{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.icon{
  fill-opacity: #ffffff;
  opacity: 0.25;
}

.text_profil{
  font-size: 16px;
  height: auto;
  width: 100%;
  position: relative;
  margin-left: 0%;
  margin-top: 23.828125px;
  align-self: center;
  order: 2;
}

.card-body .product{
  margin: 8px;
}
.card{
  width: 100%;
  margin: 10px;
}

