<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-T053Z2W7VN');
  </script>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Panier</h1>
     </div>
</section>

<section class="cart-block" *ngIf="isempty==false">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">Images </th>

                            <th scope="col" class="entete">Produits</th>
                            <th scope="col" class="text-center entete">Quantité</th>
                            <th scope="col" class="text-right entete">Prix Unitaire</th>
                        </tr>
                    
                        
                    </thead>
                    <tbody>
                        <!--vetement-->
                        <tr *ngFor="let elts of crea_cloth_item">
                            
                            <td ><img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom" /> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined" /> 
                            </td>
                        
                        
                                 <td>
                                     <div class="card" style="width: 10rem;">
                                        <div class="card-header">
                                          Description
                                        </div>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item">{{elts.name}}</li>
                    
                                                <li class="list-group-item" *ngIf="  elts.type.type=='Flexographie' ">{{elts.genre.nome}}</li>
                                                <li class="list-group-item" *ngIf=" elts.type.type=='Flexographie' ">{{elts.photo.type_photo}} <strong></strong></li>
                        
                                          <li class="list-group-item">{{elts.type_shirt.name}}   <!--<strong>Prix: {{elts.type_shirt.prix}} XOF</strong>--></li>
                                          <li class="list-group-item">{{elts.type.type}} <strong>nbcolor: {{elts.type.nbcolor}}</strong></li>
                                         
                                          <li class="list-group-item" *ngIf="elts.size.m "> M <strong>Quantite: {{elts.size.m}}</strong> </li>
                                          <li class="list-group-item" *ngIf="elts.size.l "> L <strong>Quantite: {{elts.size.l}}</strong></li>
                                          <li class="list-group-item" *ngIf=" elts.size.xl">XL <strong>Quantite: {{elts.size.xl}}</strong></li>
                                          <li class="list-group-item" *ngIf="  elts.size.s "> S <strong>Quantite: {{elts.size.s}}</strong></li>
                             
                        
                                        </ul>
                                      </div>
                        
                                 </td>
                            
                            <td class="text-center">
                                            <p class="to text text-primary" >{{elts.qty}}</p>
                                            <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                        <!--
                        <div class="row" style="background: #fff !important;">
                        <div class="row" style="background: #fff !important;">
                                              <a type="button" class="input-number-decrement btn btn-primary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPricem($event)">–1</a>
                              
                                              <a type="button" class="input-number-increment btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPrice($event)">+1</a>
                                            </div>
                                                 <p class="to text text-primary" *ngIf="update==false">{{inpnmb}}</p>
                        
                                              <a type="button" class="input-number-increment_div btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="divide($event)">:5</a>
                        
                                              <a type="button" class="input-number-increment_by btn btn-secondary btn-sm" (click)="decremet_by($event)" [name]="cart_items.indexOf(elts)">x5</a>
                        
                                            </div>    
                        -->
                                            
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"   [id]="cart_items.indexOf(elts)+'*'+ crea_cloth_item.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                        <!--Amballage-->
                        <tr *ngFor="let elts of crea_pack_items">
                            
                            <td ><img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom"/> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined" /> 
                            </td>
                        
                        
                                 <td>
                                     <div class="card" style="width: 10rem;">
                                        <div class="card-header">
                                          Description
                                        </div>
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item">{{elts.name}}</li>
                        
                        <!----
                                                -list of imported crea cloth-
                                                <li class="list-group-item" *ngIf="elts.type_product=='crea' &&  elts.type.type=='Flexographie'  && elts.category=='vetement'">{{elts.genre.nome}}</li>
                                                <li class="list-group-item" *ngIf="elts.type_product=='crea' && elts.type.type=='Flexographie'  && elts.category=='vetement'">{{elts.photo.type_photo}} <strong>Prix: {{elts.photo.pricechild}}</strong></li>
                        
                                          <li class="list-group-item" *ngIf="elts.type_product=='crea' && elts.category=='vetement'">{{elts.type_shirt.name}}   <strong>Prix: {{elts.type_shirt.prix}}</strong></li>
                                          <li class="list-group-item" *ngIf="elts.type_product=='crea'&& elts.category=='vetement'">{{elts.type.type}} <strong>nbcolor: {{elts.type.nbcolor}}</strong></li>
                                         
                                          <li class="list-group-item" *ngIf="elts.category=='vetement' && elts.size.m && elts.size.crea==false"> M </li>
                                          <li class="list-group-item" *ngIf="elts.category=='vetement' && elts.size.l && elts.size.crea==false"> L </li>
                                          <li class="list-group-item" *ngIf="elts.category=='vetement' && elts.size.xl && elts.size.crea==false">XL </li>
                                          <li class="list-group-item" *ngIf="elts.category=='vetement' && elts.size.s && elts.size.crea==false"> S </li>
                        
                                         -end list of imported crea cloth--
                                        -->
                        
                        
                                           <!---list of imported crea pack-->
                                           <li class="list-group-item" >{{elts.size}}</li>
                        
                                     <li class="list-group-item" *ngIf=" elts.name=='sac'&& elts.color!=3"><span>couleur: {{elts.color}}</span>  <br><strong>Prix: {{+elts.color*5000}} XOF</strong></li>
                                     <li class="list-group-item" *ngIf=" elts.name=='sac'&& elts.color==3"><span>couleur: {{elts.color}}</span>  <br><strong>Prix: {{4*5000}} XOF</strong></li>

                                     <li class="list-group-item" *ngIf="elts.name=='sachet'"><span>couleur ?: {{elts.color}}</span> <br> <strong>prix: 5000 XOF</strong></li>
                        
                        
                                    <!---end list of imported crea pack-->
                        
                                        </ul>
                                      </div>
                        
                                 </td>
                            
                            <td class="text-center">
                                            <p class="to text text-primary" *ngIf="update"><span style="font-size: 12px;color: red; font-family: Georgia, 'Times New Roman', Times, serif;">{{lot[crea_pack_items.indexOf(elts)]}} packet (s) <br> </span>{{elts.qty}}</p>
                                            <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                        <!--
                        <div class="row" style="background: #fff !important;">
                        <div class="row" style="background: #fff !important;">
                                              <a type="button" class="input-number-decrement btn btn-primary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPricem($event)">–1</a>
                              
                                              <a type="button" class="input-number-increment btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPrice($event)">+1</a>
                                            </div>
                                                 <p class="to text text-primary" *ngIf="update==false">{{inpnmb}}</p>
                        
                                              <a type="button" class="input-number-increment_div btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="divide($event)">:5</a>
                        
                                              <a type="button" class="input-number-increment_by btn btn-secondary btn-sm" (click)="decremet_by($event)" [name]="cart_items.indexOf(elts)">x5</a>
                        
                                            </div>    
                        -->
                                            
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ crea_pack_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                        <!--imprimer-->
                        <tr *ngFor="let elts of crea_print_items">
                            <td>
                                <img [src]="elts.face1" alt="" width="100" height="100" class="img-thumbnail zoom">
                            </td>
                            <td>
                                <div class="card" style="width: 10rem;">
                                    <div class="card-header">
                                      Description
                                    </div>
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{elts.type}}</li>
                                     <li class="list-group-item" *ngIf="elts.type=='etiquette'"><strong> Hauteur: {{elts.longueur}}</strong></li>
                                     <li class="list-group-item" *ngIf="elts.type=='etiquette'" > <strong>largeur: {{elts.largeur}}</strong></li>
                                     <li class="list-group-item" *ngIf="elts.type=='Carnet'">N° dernier reçu: {{elts.numero}}</li>
                                      <li class="list-group-item"> Format:{{elts.nom}}</li>
                                      
                                    </ul>
                                  </div>  
                            </td>
                            <td>
                                <p class="to text text-primary" >{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"   (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ crea_print_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                        <!--affichage-->
                        <tr *ngFor=" let elts of crea_disp_items">
                            <td>
                                <img [src]="elts.face1" alt=""  width="100" height="100" class="img-thumbnail zoom">
                            </td>
                            <td>
                                <div class="card" style="width: 10rem;">
                                    <div class="card-header">
                                      Description
                                    </div>
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{elts.name}}</li>
                                    <li  class="list-group-item"  *ngIf="elts.name=='vinyle'"> {{elts.vinile}}</li>
                                     <li class="list-group-item" *ngIf="elts.name=='bache' || elts.name=='vinyle' ||  elts.name=='micro-perforé'"><strong> Longueur: {{elts.longueur}}</strong></li>
                                     <li class="list-group-item" *ngIf="elts.name=='bache' || elts.name=='vinyle' ||  elts.name=='micro-perforé'" > <strong>largeur: {{elts.largeur}}</strong></li>
                                      <li class="list-group-item"> Format: {{elts.nome}} </li>
                                       <li  class="list-group-item" *ngIf="elts.nome=='Standard avec découpe' || elts.nome=='Superieur avec découpe'">
                                           <p><strong> Dimension d'etiquette </strong></p>
                                          <p><strong>Hauteur; {{elts.hauteur}}</strong></p>
                                           <p><strong>Largeur; {{elts.large}}</strong></p>


                                       </li>
                                       <li *ngIf="elts.nome=='Superieur avec découpe'">
                                           <p><strong>{{elts.forme}}</strong></p>
                                           <p *ngIf="elts.forme=='Etiquette rond'">diametre: <strong>{{elts.diametre}}</strong></p>

                                       </li>
                                    </ul>
                                  </div>  
                            </td>
                            <td>
                                <p class="to text text-primary" >{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"   (click)="modal($event)"   [id]="cart_items.indexOf(elts)+'*'+ crea_disp_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>
                         <!--gadgets-->
                         <tr *ngFor="let elts of crea_gadget_items">
                            <td >
                                <img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom"/> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined" />  
                            </td>
                            <td>
                                <div class="card" style="width: 10rem;">
                                    <div class="card-header">
                                      Description
                                    </div>
                                    <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{elts.type}}</li>
                                     <li class="list-group-item" *ngIf="elts.type=='Stylo'" >type: {{elts.nom}}<strong> </strong></li>
                                     <li class="list-group-item"  >{{elts.impr}}  <strong></strong></li>
                                     
                                    </ul>
                                  </div>  
                            </td>
                            <td>
                                <p class="to text text-primary" >{{elts.qty}}</p>
                                <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ crea_gadget_items.indexOf(elts)+'*'+elts.category"></i> </a> 
                            </td>
                        </tr>

                        <tr *ngFor="let elts of editor_items" >

                            <td>
                                <div class="im" *ngIf=" elts.category=='clothes'">
                                    <img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom"  *ngIf="elts.face1!=undefined " /> 
                                    <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined " /> 

                                </div>
                               
                               
                                <div class="im" *ngIf=" elts.category=='packs'">
                                <img [src]="elts.face1" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face1!=undefined "  /> 
                                <img [src]="elts.face2" width="100" height="100" class="img-thumbnail zoom" *ngIf="elts.face2!=undefined " />
                                </div>
                                
                            </td>
                            
                        
                            <td>
                                <div class="card" style="width: 10rem;">
                                   <div class="card-header">
                                     Description
                                   </div>
                                   <ul class="list-group list-group-flush" *ngIf="elts.category=='clothes'">
                                       <li class="list-group-item" ><strong> {{elts.data.name}}</strong> </li>
                                       <li class="list-group-item" >Impression:<strong> {{elts.type}}</strong> </li>
                                       <li class="list-group-item" *ngIf="elts.size_type.qm "> M <strong>Quantite: {{elts.size_type.qm}}</strong> </li>
                                       <li class="list-group-item" *ngIf="elts.size_type.ql "> L <strong>Quantite: {{elts.size_type.ql}}</strong></li>
                                       <li class="list-group-item" *ngIf=" elts.size_type.qxl">XL <strong>Quantite: {{elts.size_type.qxl}}</strong></li>
                                       <li class="list-group-item" *ngIf="  elts.size_type.qs "> S <strong>Quantite: {{elts.size_type.qs }}</strong></li>
                                       <li class="list-group-item" *ngIf=" elts.size_type.qxxl ">XXL <strong>Quantite: {{elts.size_type.qxxl}}</strong></li>
                                       <li class="list-group-item" *ngIf="  elts.size_type.qxxxl"> S <strong>Quantite: {{elts.size_type.qxxxl}}</strong></li>
   
                                   </ul>
                                   <ul class="list-group list-group-flush" *ngIf="elts.category=='packs'">
                                       <li class="list-group-item" ><strong> {{elts.data.name}}</strong> </li>
                                       <li class="list-group-item" >Taille:<strong> {{elts.size}}</strong> </li>
                                         
                                   </ul>
                                 </div>
                   
                            </td>
                            <td class="text-center">
                                            <p class="to text text-primary" *ngIf="update">{{elts.qty}}</p>
                                            <a class="btn btn-danger"><i class="fad fa-edit"></i></a>
                        <!--
                        <div class="row" style="background: #fff !important;">
                        <div class="row" style="background: #fff !important;">
                                              <a type="button" class="input-number-decrement btn btn-primary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPricem($event)">–1</a>
                              
                                              <a type="button" class="input-number-increment btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="getPrice($event)">+1</a>
                                            </div>
                                                 <p class="to text text-primary" *ngIf="update==false">{{inpnmb}}</p>
                        
                                              <a type="button" class="input-number-increment_div btn btn-secondary btn-sm" [name]="cart_items.indexOf(elts)" (click)="divide($event)">:5</a>
                        
                                              <a type="button" class="input-number-increment_by btn btn-secondary btn-sm" (click)="decremet_by($event)" [name]="cart_items.indexOf(elts)">x5</a>
                        
                                            </div>    
                        -->
                                            
                            </td>
                            <td class="text-right"> <strong>{{elts.price}}  XOF</strong></td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-danger">
                                <i class="fa fa-trash"  (click)="modal($event)"  [id]="cart_items.indexOf(elts)+'*'+ editor_items.indexOf(elts)+'*'+elts.type_product"></i> </a> 
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                           
                            <td></td>
                            <td>Sous-Total</td>
                            <td class="text-right"> <strong>{{sub_total}} XOF</strong></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="#" class="btn btn-lg btn-block text-uppercase" style="background-color: #fab91a; color: #324161;">POURSUIVRE VOS ACHATS</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a  class="btn btn-lg btn-block text-uppercase" style="background-color: #324161; color: white;" (click)="finale_step($event)" *ngIf="showbtn">FINALISER VOTRE COMMANDE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<a hidden (click)="emitMoney(sub_total)" id="money"></a>

<div  *ngIf="isempty">
    <div class="text">
        <p>Récapitulatif de la commande</p>
      </div>
      <div class="image">
        <img src="/assets/image/Lampe pas de commande.png" alt="">
      </div>
      <div class="text-bas">
        <p>Il n'y a aucune commande</p>
        <a class="btn btn-lg btn-primary" href="/home">Continuer mes achats</a>
      </div>
</div>



